<% if object.errors.any? %>

  <h4><%= pluralize object.errors.count, "error" %></h4>

  <div class="error_explanation">
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
