<p>
Welcome to a demo of Rails, Turbolinks, and iOS!
</p>

<ul>
  <li><%= link_to 'Page 1', pageone_path %></li>
  <li><%= link_to 'Page 2', pagetwo_path %></li>
  <li><%= link_to 'Settings', settings_path %></li>
</ul>
