<%= form_tag update_settings_path, remote: true do %>

  <div class="form-group">
    <%= label_tag :username, "Username" %>
    <%= text_field_tag :username, 'mike', class: 'form-control' %>
  </div>

  <%= submit_tag 'Save Settings', class: 'btn btn-primary' %>
<% end %>
